<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LingDatabase.Properties.Settings.AdventureWorks2017ConnectionString"
            connectionString="Data Source=DESKTOP-6L1CB32\MYSQL_BM_SERVER;Initial Catalog=AdventureWorks2017;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>